@font-face {
	font-family: "ClashDisplay";
	src: url(../media/fonts/ClashDisplay_Complete/ClashDisplay-Bold.woff2) format("woff2"),
		url(../media/fonts/ClashDisplay_Complete/ClashDisplay-Extralight.woff2) format("woff2"),
		url(../media/fonts/ClashDisplay_Complete/ClashDisplay-Light.woff2) format("woff2"),
		url(../media/fonts/ClashDisplay_Complete/ClashDisplay-Medium.woff2) format("woff2"),
		url(../media/fonts/ClashDisplay_Complete/ClashDisplay-Regular.woff2) format("woff2"),
		url(../media/fonts/ClashDisplay_Complete/ClashDisplay-Semibold.woff2) format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Archivo";
	src: url(../media/fonts/Archivo_Complete/Archivo-Black.woff2) format("woff2"),
		url(../media/fonts/Archivo_Complete/Archivo-BlackItalic.woff2) format("woff2"),
		url(../media/fonts/Archivo_Complete/Archivo-Bold.woff2) format("woff2"),
		url(../media/fonts/Archivo_Complete/Archivo-BoldItalic.woff2) format("woff2"),
		url(../media/fonts/Archivo_Complete/Archivo-ExtraBold.woff2) format("woff2"),
		url(../media/fonts/Archivo_Complete/Archivo-ExtraBoldItalic.woff2) format("woff2"),
		url(../media/fonts/Archivo_Complete/Archivo-ExtraLight.woff2) format("woff2"),
		url(../media/fonts/Archivo_Complete/Archivo-ExtraLightItalic.woff2) format("woff2"),
		url(../media/fonts/Archivo_Complete/Archivo-Italic.woff2) format("woff2"),
		url(../media/fonts/Archivo_Complete/Archivo-Light.woff2) format("woff2"),
		url(../media/fonts/Archivo_Complete/Archivo-LightItalic.woff2) format("woff2"),
		url(../media/fonts/Archivo_Complete/Archivo-Medium.woff2) format("woff2");
	font-display: swap;

}

// --- VARIABLES ---
// Couleurs principales
$color-primary: #7283ff; // Bleu doux
$color-secondary: #a8c4ff; // Bleu pâle
$color-hover: #839bff; // Lavande
$color-background: linear-gradient(135deg,
		#c3dfe7,
		$color-secondary,
		$color-primary); // Gradient d'arrière-plan
$color-text-light: #ffffff;
$color-text-dark: #333;
$color-accent: #007bff; // Accent hover
$color-border: rgba(255, 255, 255, 0.3);
$color-overlay: rgba(255, 255, 255, 0.8);
$color-dark: #2b2b2b; // Fond footer
$color-light: #f8f9fa;

// Polices
$font-main: "Archivo", sans-serif;
$font-display: "ClashDisplay", sans-serif;

// Tailles et espacements
$font-size-base: 1rem;
$font-size-large: 1.5rem;
$font-size-small: 0.9rem;
$line-height: 1.6;
$border-radius: 50px;
$transition-speed: 0.3s;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

// --- ANIMATIONS ---

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 50% 100%;
	}

	100% {
		background-position: 50% 0%;
	}
}

@-webkit-keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 50% 100%;
	}

	100% {
		background-position: 50% 0%;
	}
}

@-moz-keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 50% 100%;
	}

	100% {
		background-position: 50% 0%;
	}
}

// --- STYLES GLOBAUX ---
html,
body {
	height: 100%;
	margin: 0;
}

body {
	position: relative;
	font-family: $font-main;
	background: $color-background;
	background-size: 600% 600%;
	animation: gradientAnimation 16s ease infinite;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("../media/img/grain.png");
		opacity: 0.05;
		pointer-events: none;
		background-size: cover;
	}
}

// --- NAVBAR ---
header {

	// flex: 0 0 auto; /* Taille fixe en fonction de son contenu */
	.navbar {
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		margin-top: 20px;
		border-radius: $border-radius;
		border: 1px solid $color-border;
		box-shadow: $box-shadow;

		.navbar-brand {
			.logo {
				height: 30px;
			}

			&:hover .logo {
				content: url("../media/img/B_hover.svg");
			}
		}

		.navbar-toggler {
			margin-right: 10px;
			border: none;
			background-color: transparent;
			padding: 5px;
			transition: all $transition-speed ease;

			&:focus {
				box-shadow: none;
			}

			.navbar-toggler-icon {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
			}
		}

		.nav-link {
			position: relative;
			color: rgba(255, 255, 255, 0.8);
			text-decoration: none;
			transition: color $transition-speed ease;

			&:hover {
				color: $color-hover;
			}

			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: -2px;
				width: 0;
				height: 2px;
				background: $color-hover;
				transition: width $transition-speed ease;
			}

			&:hover::after {
				width: 100%;
			}
		}

		.social-icon {
			gap: 20px;

			a {
				color: $color-text-light;
				transition: color $transition-speed ease;

				&:hover {
					color: $color-hover !important;
				}
			}
		}
	}
}

// --- SECTION ACCUEIL ---
#accueil section {
	height: 100vh;
}

#accueil {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* Centre verticalement les photos */
	align-items: center;
	/* Centre horizontalement les photos */
	padding: 2rem;
	overflow: hidden;
	font-family: $font-display;
	font-weight: 900;
	/* Évite le scroll si nécessaire */
}

// --- SECTION ABOUT ---
#about {

	// --- SECTION ACCUEIL ---
	section {
		img {
			max-width: 400px;
			border: 4px solid rgba(255, 255, 255, 0.8);
		}

		p {
			font-size: $font-size-base;
			color: #555;
			line-height: $line-height;
		}
	}
}

// --- PHOTOS & DESIGN ---

#photos,
#design {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* Centre verticalement les photos */
	align-items: center;
	/* Centre horizontalement les photos */
	padding: 2rem;
	overflow: hidden;
	/* Évite le scroll si nécessaire */
	min-height: 100vh;
	position: relative;

	.img-container {
		position: relative;
		overflow: hidden;
		border-radius: 15px;
		padding: 10px;
		background: rgba(255, 255, 255, 0.2);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		border: 1px solid $color-border;
		transition: transform $transition-speed ease;

		&:hover {
			transform: scale(1.05);
		}

		img {
			display: block;
			width: 100%;
			transition: transform $transition-speed ease;
		}

		&:hover img {
			transform: scale(1.1);
		}

		.overlay {
			position: absolute;
			inset: 0;
			background: $color-overlay;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $color-dark;
			font-size: $font-size-large;
			opacity: 0;
			transition: opacity $transition-speed ease;
		}

		&:hover .overlay {
			opacity: 1;
		}
	}

	/* Lightbox */
	.lightbox {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.9);
		display: none;
		align-items: center;
		justify-content: center;
		z-index: 1000;
	}

	.lightbox:target {
		display: flex;
	}

	.lightbox-content {
		position: relative;
		max-width: 80%;
		max-height: 80%;
		display: flex;
		align-items: flex-start;
		gap: 2rem;
		color: $color-light;
		overflow: hidden;
	}

	.lightbox-image {
		max-width: 50%;
		max-height: 100%;
		object-fit: cover;
	}

	.lightbox-info {
		max-width: 50%;
		font-size: 1rem;
	}

	.close {
		position: absolute;
		top: 10px;
		right: 10px;
		text-decoration: none;
		color: $color-light;
		font-size: 2rem;
		background: none;
		border: none;
		cursor: pointer;
	}
}

// --- BUTTON CUSTOM ---
.btn-accueil {
	width: 12rem;
	padding: 17px 15px;
}

.btn-custom {
	width: 10rem;
	padding: 10px 20px;
}

.btn-accueil,
.btn-custom {
	margin-top: 20px;
	background: $color-primary;
	color: $color-text-light;
	border: none;
	border-radius: $border-radius;
	font-weight: bold;
	transition: transform $transition-speed ease, box-shadow $transition-speed ease;

	&:hover {
		background: $color-hover;
		color: $color-text-light;
		transform: translateY(-2px);
		box-shadow: 0px 5px 15px rgba(131, 155, 255, 0.4);
	}
}

// --- SECTION ACCUEIL ---
#contact,
#legal {

	a {
		color: rgba(255, 255, 255, 0.8);
		text-decoration: none;
		transition: color $transition-speed ease;

		&:hover {
			color: $color-hover;
		}
	}

	img {
		border: 4px solid rgba(255, 255, 255, 0.8);
	}
}

main#about,
main#contact,
main#legal {
	flex: 1 0 auto;
	/* Prend tout l'espace restant */
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* Centre verticalement le contenu */
	align-items: center;
	/* Centre horizontalement le contenu */
	padding: 2rem;
	/* Ajoutez un peu de padding */
}

// --- FOOTER ---
footer {
	flex: 0 0 auto;
	border-radius: 50px 50px 0px 0px;
	background: $color-light;
	color: $color-dark;
	font-size: 14px;
	padding: 1rem;

	nav {
		p {
			margin-bottom: 0;

			&::after {
				content: "";
				display: inline-block;
				background-color: $color-dark;
				margin: 0px 20px 0px 20px;
				height: 10px;
				width: 2px;
			}
		}

		a {
			color: $color-dark;
			text-decoration: none;

			&:hover {
				color: $color-hover;
			}
		}
	}
}

// --- MEDIA QUERIES ---
@media (prefers-reduced-motion: reduce) {
  html, body, * {
    animation: none !important;
    transition: none !important;
  }
}


@media (max-width: 768px) {

	html,
	body {
		height: inherit;
	}

	body {
		background-size: 400% 400%;

		#about img {
			width: 200px;
		}

		footer {
			nav {

				p,
				a {
					width: 50%;
				}

				p::after {
					display: none;
				}
			}
		}

		/* Ajuster la taille du gradient */
	}
}

@media (max-width: 425px) {
	body {
		background-size: 300% 300%;

		footer {
			nav {
				flex-direction: column;
			}
		}

		/* Réduire encore plus pour des écrans plus petits */
	}
}